@using Rockaway.WebApp.Components;
@model Rockaway.WebApp.Models.ShowViewData
<h1>@Model.HeadlineArtistName</h1>
<p>@Model.VenueName, @Model.VenueAddress</p>
<p>@Model.ShowDate</p>
<form method="post">

@(await Html.RenderComponentAsync<TicketPicker>(RenderMode.ServerPrerendered, new { TicketTypes = Model.TicketTypes, CultureName = Model.CultureName }))

<section class="row">
	<div class="col-12 col-md-8 offset-md-2 text-end">
		<input type="submit" class="btn btn-primary" value="Next &gt;"/>
	</div>
</section>
</form>