@page
@section head {
	<style>
		section.grid-examples div.row div {
			margin-bottom: 8px;
		}

			section.grid-examples div.row div div {
				background-color: #999;
				font-size: 0.6em;
				padding: 8px;
				font-family: monospace;
			}
	</style>
}
<h1>Elements</h1>
<p>There's also a <a asp-page="BootstrapCheatsheet">Bootstrap Cheatsheet page</a></p>
<section>
	<h2>Text &amp; Typography</h2>
	<p>Sphinx of black quartz, judge my vow.</p>
	<p>
		This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
		This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
		This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.
	</p>
	<h3>Lists</h3>
	<ul>
		<li>Guitar</li>
		<li>Bass</li>
		<li>Drums</li>
		<li>
			Horns
			<ul>
				<li>Trumpet</li>
				<li>Trombone</li>
				<li>Saxophone</li>
			</ul>
		</li>
		<li>Keyboards</li>
	</ul>
	<h3>Ordered Lists</h3>
	<ol>
		<li>The Final Countdown</li>
		<li>Rock the Night</li>
		<li>Carrie</li>
		<li>Danger on the Track</li>
		<li>Ninja</li>
		<li>Cherokee</li>
		<li>Time Has Come</li>
		<li>Heart of Stone</li>
		<li>On the Loose</li>
		<li>Love Chaser</li>
	</ol>
	<h3>Definition List</h3>
	<dl>
		<dt>Artist</dt>
		<dd>A performer, band, or other musical act that's booking shows and selling tickets</dd>
		<dt>Headliner</dt>
		<dd>The performer or act on a concert bill that is promoted as the star attraction and typically performs last.</dd>
		<dt>Support act</dt>
		<dd>A smaller or less established act that plays a set before the headliner, to warm up the crowd.</dd>
		<dt>Venue</dt>
		<dd>A theatre, club, concert hall, bar, or other building or facility which hosts live musical performances</dd>
	</dl>
	<h3>Font Weights</h3>
	<ol>
		<li style="font-weight: 100;">font-weight: 100;</li>
		<li style="font-weight: 200;">font-weight: 200;</li>
		<li style="font-weight: 300;">font-weight: 300;</li>
		<li style="font-weight: 400;">font-weight: 400;</li>
		<li style="font-weight: 500;">font-weight: 500;</li>
		<li style="font-weight: 700;">font-weight: 700;</li>
		<li style="font-weight: 800;">font-weight: 800;</li>
		<li style="font-weight: 900;">font-weight: 900;</li>
	</ol>
	<hr />
	<h1>Heading Level 1</h1>
	<h2>Heading Level 2</h2>
	<h3>Heading Level 3</h3>
	<h4>Heading Level 4</h4>
	<h5>Heading Level 5</h5>
	<h6>Heading Level 6</h6>
	<hr />
	<h4>Blockquote</h4>
	<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
	<h4>Preformatted</h4>
	<pre><code>i = 0;

while (!deck.isInOrder()) {
	print 'Iteration ' + i;
	deck.shuffle();
	i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
</section>
<hr />
<section class="grid-examples">
	<h1>Bootstrap Grid</h1>
	@for (var i = 1; i <= 12; i++) {
		<div class="row">
			@for (var col = 1; col <= i; col++) {
				<div class="col">
					<div>@col</div>
				</div>
			}
		</div>
	}
	<h2>Offset Grids</h2>
	@for (var o = 1; o < 12; o++) {
		<div class="row">
			<div class="col-@o"><div>.col-@o</div></div>
			<div class="col-@(12 - o)"><div>.col-@(12 - o)</div></div>
		</div>
	}

	<h2>Responsive Grids</h2>
	<p>Combine `col-N` with device size prefixes to create responsive grid layouts.</p>
	<p>Elements with <code>col-xl-2 col-lg-3 col-md-4 col-sm-6</code> will render as:</p>
	<ul>
		<li>2 columns wide on extra large devices (&ge; 1200px)</li>
		<li>3 columns wide on large devices (&ge; 992px)</li>
		<li>4 columns wide on medium devices (&ge; 768px)</li>
		<li>6 columns wide on small devices ((&ge; 576px)</li>
		<li>12 columns (full width) on extra small devices (&lt; 576px)</li>
	</ul>
	<div class="row">
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><div>div</div></div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><div>div</div></div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><div>div</div></div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><div>div</div></div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><div>div</div></div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><div>div</div></div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><div>div</div></div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><div>div</div></div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><div>div</div></div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><div>div</div></div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><div>div</div></div>
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><div>div</div></div>
	</div>
</section>
<section>
	<h2>Forms</h2>
	<h3>Input Types</h3>
	<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input">https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input</a>
	<hr />
	@{
		var cssClass = "col-lg-3 col-sm-6";
	}
	<form action="#" method="post" class="container">
		<div class="row">
			<div class="@cssClass">
				<label for="input-text">Name</label>
			</div>
			<div class="@cssClass">
				<input type="text" id="input-text" placeholder="what's your name?" />
			</div>
			<div class="@cssClass">
				<label for="color-input">Hair Colour</label>
			</div>
			<div class="@cssClass">
				<input type="color" id="hair-color-input" value="#ff3399" />
			</div>
			<div class="@cssClass">
				<label for="date-input">Date of Birth</label>
			</div>
			<div class="@cssClass">
				<input type="date" id="date-input" value="date" />
			</div>
			<div class="@cssClass">
				<label for="datetime-local-input">Audition Time</label>
			</div>
			<div class="@cssClass">
				<input type="datetime-local" id="datetime-local-input" value="datetime-local" />
			</div>
			<div class="@cssClass">
				<label for="email-input">Email Address</label>
			</div>
			<div class="@cssClass">
				<input type="email" id="email-input" value="email" />
			</div>
			<div class="@cssClass">
				<label for="file-input">Photograph</label>
			</div>
			<div class="@cssClass">
				<input type="file" id="file-input" value="file" />
			</div>
			<div class="@cssClass">
				<label for="number-input">Strings</label>
			</div>
			<div class="@cssClass">
				<input type="number" id="number-input" value="5" min="2" max="8" />
			</div>
			<div class="@cssClass">
				<label for="tel-input">Telephone</label>
			</div>
			<div class="@cssClass">
				<input type="tel" id="tel-input" value="tel" />
			</div>
			<div class="@cssClass">
				<label for="month-input">First concert?</label>
			</div>
			<div class="@cssClass">
				<input type="month" id="month-input" value="month" />
			</div>
			<div class="@cssClass">
				<label for="range-input">Volume</label>
			</div>
			<div class="@cssClass">
				<input type="range" id="range-input" value="range" min="2" max="20" />
			</div>
			<div class="@cssClass">
				<label for="password-input">Password</label>
			</div>
			<div class="@cssClass">
				<input type="password" id="password-input" value="password" />
			</div>
			<div class="@cssClass">
				<label for="search-input">search</label>
			</div>
			<div class="@cssClass">
				<input type="search" id="search-input" value="search" />
			</div>
			<div class="@cssClass">
				<label for="time-input">Show time</label>
			</div>
			<div class="@cssClass">
				<input type="time" id="time-input" value="time" />
			</div>
			<div class="@cssClass">
				<label for="url-input">Website</label>
			</div>
			<div class="@cssClass">
				<input type="url" id="url-input" value="url" />
			</div>
			<div class="@cssClass">
				<label for="week-input">Holiday Week</label>
			</div>
			<div class="@cssClass">
				<input type="week" id="week-input" value="week" />
			</div>
			<div class="@cssClass">
				<label>Instruments</label>
			</div>
			<div class="@cssClass">
				<label for="checkbox-input-guitar">
					<input type="checkbox" id="checkbox-input-guitar" value="checkbox" />
					Guitar
				</label><br />
				<label for="checkbox-input-bass">
					<input type="checkbox" id="checkbox-input-bass" value="checkbox" />
					Bass
				</label><br />
				<label for="checkbox-input-drums">
					<input type="checkbox" id="checkbox-input-drums" value="checkbox" />
					Drums
				</label><br />
			</div>
			<div class="@cssClass">
				<label for="select-single">Instrument</label>
			</div>
			<div class="@cssClass">
				<select id="select-single">
					<option>select...</option>
					<option>Guitar</option>
					<option>Bass</option>
					<option>Drums</option>
					<optgroup label="Horns">
						<option>Trumpet</option>
						<option>Trombone</option>
						<option>Saxophone</option>
					</optgroup>
				</select>
			</div>
			<div class="@cssClass">
				Radio Station
			</div>
			<div class="@cssClass">
				<label for="radio-input-jazz-fm">
					<input type="radio" id="radio-input-jazz-fm" name="radio" value="jazz-fm" />
					Jazz FM
				</label><br />
				<label for="radio-input-knac">
					<input type="radio" id="radio-input-knac" name="radio" value="knac-pure-rock" />
					KNAC Pure Rock 105.5
				</label><br />
				<label for="radio-input-bbc-r2">
					<input type="radio" id="radio-input-bbc-r2" name="radio" value="bbc-radio-2" />
					BBC Radio 2
				</label><br />
			</div>
			<div class="@cssClass">
				<label for="select-multiple">Select (multiple options)</label>
			</div>
			<div class="@cssClass">
				<select id="select-multiple" multiple="multiple">
					<option>select...</option>
					<option>Option 1</option>
					<option>Option 2</option>
					<option>Option 3</option>
					<optgroup label="Special Options">
						<option>Special Option A</option>
						<option>Special Option B</option>
						<option>Special Option C</option>
					</optgroup>
				</select>
			</div>
			<div class="@cssClass">
				<label for="textarea-comments">Comments</label>
			</div>
			<div class="@cssClass">
				<textarea id="textarea-comments" name="comments"></textarea>
			</div>
		</div>
	</form>
	<fieldset>
		<legend>Music Genres</legend>
		This is a set of checkboxes in fieldset element with a legend.
		<br />
		@foreach (var genre in new[] {
		"Djent", "Mathcore", "Power Metal", "Fusion", "Synthwave", "Pirate Metal"
		}) {
			<label for="fieldset-checkbox-@genre">
				<input type="checkbox" name="fieldset-checkbox" id="fieldset-checkbox-@genre" value="@genre" /> @genre
			</label>
		}
	</fieldset>
	<hr />
	<h4>Buttons</h4>
	<div>
		<button type="button" class="btn btn-primary">Primary</button>
		<button type="button" class="btn btn-secondary">Secondary</button>
		<button type="button" class="btn btn-success">Success</button>
		<button type="button" class="btn btn-danger">Danger</button>
		<button type="button" class="btn btn-warning">Warning</button>
		<button type="button" class="btn btn-info">Info</button>
		<button type="button" class="btn btn-light">Light</button>
		<button type="button" class="btn btn-light">Light</button>
		<button type="button" class="btn btn-dark">Dark</button>
		<button type="button" class="btn btn-link">Link</button>
	</div>
	<h4>Pseudobuttons</h4>
	<div>
		<a class="btn btn-primary" href="#" role="button">Link</a>
		<button class="btn btn-primary" type="submit">Button</button>
		<input class="btn btn-primary" type="button" value="Input">
		<input class="btn btn-primary" type="submit" value="Submit">
		<input class="btn btn-primary" type="reset" value="Reset">
	</div>
</section>


